#navbar {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    margin: 0;
    padding: 5px;
    /* width: 100vw; */
    min-height: 50px;
    height: fit-content;
    background-color: white;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.1);
}
#navbar ul {
    display:flex;
    margin: 10px 10px 10px auto;
    list-style: none;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
#navbar ul li {
    font-size: 1.2rem; 
    opacity: 0.7;

}

e
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

#navbar {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    min-height: 50px;
    height: fit-content;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.1);
    display: flex;
}

#langBox {
    display: flex;
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 35px;
    background-color: lightgray;
    margin :10px auto 10px 30px;
    transition: .5s;
}
#langBox #langCurrent {
    position: relative;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 217);
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1/1;
    transition: 0.5s;
    font-weight: bold;
}

#navbar ul {
    display: flex;
    margin: 10px 0 10px auto;
    min-width: 55%; 
    width: fit-content;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}

#navbar ul li a {
    margin-left: 3px;
    color: black;
    opacity: 0.7;
    font-size: 1.2rem;
    font-family: "Poppins" ,Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: lightgreen;
    opacity: 1;
    text-decoration: underline;
    transition: all 0.15s; 
}

#intro-section {
    height: 200px;
    background-image: url("https://cdn.pixabay.com/photo/2015/09/05/20/02/coding-924920_1280.jpg");
    background-size: cover;
}

#welcome-section {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.message {
    display: flex;
    margin: 20px;
    width: 90%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Poppins" ,Arial, Helvetica, sans-serif;
    text-align: center;
}

.message img {
    min-width: 300px;
    width: 35%;
    max-width: 90vw;
    float: left;
    margin: 1rem;
}

section {
    margin-top: 1rem;
    padding-top: 1rem;
}

.section-heading {
    font-size: 2rem;
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: center;
}

div.my-information {
    display: block;
    font-size: 1.5rem;
    text-align: left;
}

#skills-section {
    padding-top: 50px;
    background-color: black;
    color: white;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.skill-information {
    padding: 2rem;
    text-align: center;
}

.skill-name {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.skill-information progress {
    background-color: white;
    border: 1px solid white;
}

.skill-information progress::-webkit-progress-value {
    background-color: white;
    border-radius: 0;
}

.skill-information progress::-webkit-progress-bar {
    background-color: black;
}

.project-box {
    display: flex;
    font-size: 1.2rem;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-box img {
    margin: 10px;
    width: 500px;
    max-width: 80vw;
    flex-basis:40%;
}
.description {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.linkElement {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: black;
}
#about-section {
    padding-top: 50px;
}
#projects-section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#contact-section {
    padding-top: 50px;
    margin-top: 50px;
    padding: 50px;
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
}
#contact-section h1 {
    font-size: 2.5rem;
}

#contact-section a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}


