/* GENERAL CSS */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Poppins",Arial, Helvetica, sans-serif;
}
.section-heading {
  font-size: 2.5rem;
  text-align: center;
}

/* NAVBAR AND LANGUAGE SELECTOR */
@media (max-width: 699.9px) {
  .barsIcon {
    margin: 10px;
  }
  #navbarList {
    display: none; /* To prevent from dropping on window resize */
    flex-direction: column;
    font-size: 2rem;
    padding: 0;
  }
  #navbar {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #langBox {
    display: none;
  }
}
@media (min-width: 700px) {
  .barsIcon {
    display: none;
  }
  #navbarList {
    display:flex;
    margin: 10px auto;
  }
}
#navbar {
  display: flex;
  width: 100%;
  min-height: 50px;
  height: fit-content;
  background-color: white;
  box-shadow: 0 10px 10px -5px rgba(0,0,0,0.1);
  font-size: 1.2rem; 
  position: sticky;
  top: 0;
  left: 0;
}
#navbar ul li a {
  margin-left: 3px;
  color: black;
  opacity: 0.7;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: lightgreen;
  opacity: 1;
  text-decoration: underline;
  transition: all 0.15s; 
}
#navbarList {
  list-style: none;
  width: fit-content;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
#langBox {
  align-items: center;
  width: 60px;
  height: 30px;
  border-radius: 35px;
  background-color: lightgray;
  margin:20px auto;
  transition: .5s;
  font-size: 1rem;
}
#langCurrent {
  position: relative;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 248, 217);
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1/1;
  transition: 0.5s;
  font-weight: bold;
}
/* ABOUT SECTION */
#about-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin:auto;
}
.message {
  margin: 20px;
  width: 90%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: justify;
}
.message p {
  text-indent: 50px;
}
.message img {
  min-width: 300px;
  width: 35%;
  max-width: 90vw;
  float: left;
  margin: 1rem;
  box-shadow: 0px 0px 10px black;
}

/* SKILLS SECTION */
#skills-section {
  padding: 50px 10%;
  background-color: black;
  color: white;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.skill-information {
  padding: 2rem;
  text-align: center;
}
.skill-name {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.skills-description {
  font-size: 1.5rem;
  text-align: justify;
  text-indent: 50px;
}

/* PROJECTS SECTION */
#projects-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-box {
  display: flex;
  font-size: 1.2rem;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.project-box img {
  margin: 10px;
  width: 500px;
  max-width: 80vw;
  flex-basis:40%;
  box-shadow: 0px 0px 10px black;
}
.description {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  flex-basis: 40%;
  flex-grow: 100;
}
.description > p {
  text-align: justify;
  text-indent: 50px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}
.linkElement {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: black;
}

/* CONTACT SECTION */
#contact-section {
  padding: 50px 10%;
  background-color: black;
  color: white;
  font-size: 2rem;
  text-align: center;
}
#contact-section a {
  display: block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}